<div class="container">
    <section class="our-story text-center">
        <h2 class="title text--green mb-4">Our Story</h2>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti commodi, tenetur dolor
            quaerat expedita non aspernatur vero, ex voluptatibus ducimus iusto repellat temporibus corporis eveniet?
            Possimus quasi ab cumque dolorem earum magnam sunt explicabo delectus ipsum maiores corporis, rerum omnis et
            obcaecati voluptate accusantium suscipit quisquam? Qui optio aliquam, eveniet aut fuga exercitationem
            veritatis quae quis, molestias unde obcaecati? Dolorem recusandae ut molestias a et earum velit magni
            molestiae! Asperiores impedit delectus, dolore dolorem ea tempore ipsa. Consequatur enim deserunt ipsam
            odio, temporibus voluptate modi provident aspernatur harum, fuga iusto dicta iure perspiciatis iste
            voluptates vel non pariatur recusandae tenetur ea dolore voluptatem rem cumque. Delectus voluptatem, debitis
            commodi eius distinctio laborum voluptate aperiam nulla quae possimus rerum. Dolorum fuga esse quaerat,
            omnis nulla vel vero voluptatum perferendis qui repellat magnam mollitia quidem doloribus soluta sit
            architecto quae tenetur nobis. Dolor voluptate laborum amet repellat itaque alias, dicta officiis sed cumque
            veniam nam est? Totam distinctio necessitatibus numquam deleniti facilis, fugit natus unde aperiam obcaecati
            dolores expedita veniam? Tempore odio nisi non minima labore cum, ex suscipit qui sed sequi animi expedita
            facilis deleniti, magni aut ut cumque. Ipsa doloribus velit porro placeat praesentium aut nulla
            exercitationem laboriosam. Minus, voluptas.</p>
    </section>

    <section class="our-team text-center">
        <h2 class="title text--green mb-4">Our Team</h2>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <app-circle></app-circle>
                <div class="card-body">
                    <h5 class="card-title">Thomas Mboa</h5>
                    <p class="card-text">Managing Director</p>
                    <p class="card-text"><small class="text-muted">Thomas Mboa is currently Lecturer at the Advanced
                            School of Mass Communication, University of Yaoundé II, Cameroon. </small></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <app-circle></app-circle>
                <div class="card-body">
                    <h5 class="card-title">Stephane Fadanka</h5>
                    <p class="card-text">Product Manager</p>
                    <p class="card-text"><small class="text-muted">Stephane is an early career researcher based at the
                            MboaLab. With an MSc in Molecular Biotechnology.</small></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <app-circle></app-circle>
                <div class="card-body">
                    <h5 class="card-title">Nadine</h5>
                    <p class="card-text">Quality Manager</p>
                    <p class="card-text"><small class="text-muted">Nadine has a background in Microbiology and Medical
                            Laboratory Technology (BSc). </small></p>
                </div>
            </div>
        </div>
    </section>

    <section class="our-advisors text-center">
        <h2 class="title text--green mb-4">Our Advisors</h2>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <app-circle></app-circle>
                <div class="card-body">
                    <h5 class="card-title">Thomas Mboa</h5>
                    <p class="card-text">Managing Director</p>
                    <p class="card-text"><small class="text-muted">Thomas Mboa is currently Lecturer at the Advanced
                            School of Mass Communication, University of Yaoundé II, Cameroon. </small></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <app-circle></app-circle>
                <div class="card-body">
                    <h5 class="card-title">Stephane Fadanka</h5>
                    <p class="card-text">Product Manager</p>
                    <p class="card-text"><small class="text-muted">Stephane is an early career researcher based at the
                            MboaLab. With an MSc in Molecular Biotechnology.</small></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <app-circle></app-circle>
                <div class="card-body">
                    <h5 class="card-title">Nadine</h5>
                    <p class="card-text">Quality Manager</p>
                    <p class="card-text"><small class="text-muted">Nadine has a background in Microbiology and Medical
                            Laboratory Technology (BSc). </small></p>
                </div>
            </div>
        </div>
    </section>

    <section class="our-partners text-center">
        <h2 class="title text--green mb-4">Our partners</h2>
        <div class="row">
            <div class="col-md-2 col-sm-3">
                <app-circle></app-circle>
            </div>
            <div class="col-md-2 col-sm-3">
                <app-circle></app-circle>
            </div>
            <div class="col-md-2 col-sm-3">
                <app-circle></app-circle>
            </div>
            <div class="col-md-2 col-sm-3">
                <app-circle></app-circle>
            </div>
            <div class="col-md-2 col-sm-3">
                <app-circle></app-circle>
            </div>
            <div class="col-md-2 col-sm-3">
                <app-circle></app-circle>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>