<div class="container">
    <div *ngFor = "let card of cards" class="card mb-3">
        <div class="row g-0">
            <div class="col-sm-4 col-md-4">
                <span class="svg"></span>
            </div>
            <div class="col-sm-8 col-md-8">
                <div class="card-body">
                    <h5 class="card-title">TF Diagnose Team grows worldwide</h5>
                    <p class="card-text">Our team is thrilled to welcome Charlotte Guffick who joins us for three months to support TF Doagnose's philanthropic fundraising goals and develop a training framework for our manufacturing nodes.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <a href="#" class="btn bg--green">Read more ></a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>