section {
    width: inherit;
    height: fit-content;
}

article {
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

.text {
    font-weight: 400;
    padding: auto 2rem;
    font-size: 3rem;
}

.text--green {
    color: #0C570A;
    font-weight: 600;
}

.image {
    background: url('../../../assets/images/backgound-image.png') no-repeat;
    height: 80vh;
    background-position: center;
    background-size: cover;
}