:root {
  --main-color: #0c570a;
}

.text--green {
  color: var(--main-color);
}

.btn--green {
  background-color: var(--main-color);
}

.active {
  font-weight: bolder;
  color: var(--main-color);
}