<footer class="py-5 mt-4">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <h5>Quick Links</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Contact Us</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Privacy Policy</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Terms and Conditions</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Enzyme Survey</a></li>
        </ul>
      </div>

      <div class="col-2">
        <h5>About TF Diagnose</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Our Story</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Our Science</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">ISO 9001 Compliance</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Jobs</a></li>
        </ul>
      </div>

      <div class="col-4 offset-1">
        <form>
          <h5>Subscribe to our newsletter</h5>
          <p>Monthly digest of whats new and exciting from us.</p>
          <div class="d-flex w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex justify-content-between py-4 my-4 border-top">
      <p>© 2021 Company, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3">
          <a class="link-dark" href="#">
          <icon-youtube></icon-youtube>
          </a>
        </li>

        <li class="ms-3">
          <a class="link-dark" href="#">
          <icon-linkedin></icon-linkedin>
          </a>
        </li>

        <li class="ms-3">
          <a class="link-dark" href="twitter.com">
            <icon-twitter></icon-twitter>
          </a>
        </li>

        <li class="ms-3">
          <a class="link-dark" href="#">
            <icon-facebook></icon-facebook>
          </a>
        </li>
        <li class="ms-3">
          <a class="link-dark" href="#">
          <icon-instagram></icon-instagram>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>